body {
  background: url("https://wallpapercave.com/wp/wp4526873.jpg");
  background-size: cover;
}

.div1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15%;
}

.p1 {
  width: 13%;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  box-shadow: 6px 6px 10px 4px white;
}

.img {
  width: 100px;
}

.weekDeyName {
  color: white;
}

.temp {
  color: white;
}
